<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GithubAction.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>DDB1FDC48EC986FAFB0779E9279B7B7389C87878</string>
				<key>dateExpires</key>
				<string>2022/8/23</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>KHV6JJH7M8.com.thinkyeah.GithubAction</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>KHV6JJH7M8</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>KHV6JJH7M8.com.thinkyeah.GithubAction</string>
				</array>
			</dict>
			<key>name</key>
			<string>GithubAction.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>fca82664-44e2-4806-a78b-02a41590f21b</string>
				<key>name</key>
				<string>GithubActionTestApp</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>KHV6JJH7M8</string>
				<key>name</key>
				<string></string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
